<template>
  <div class="container">
    <lightning-card>
      <lightning-layout multiple-rows="true">
        <lightning-layout-item size="12" padding="around-medium">
          <lightning-combobox name="positionList" label="Select status" value={value} placeholder="All"
            options={pickListvalues} onchange={handleChange}>
          </lightning-combobox>
        </lightning-layout-item>
        <template if:true={positionsByStatus.data}>
          <table class="slds-table">
            <thead>
              <tr class="slds-line-height_reset">
                <th class="slds-text-title_caps" scope="col">
                  <div class="slds-truncate">Name</div>
                </th>
                <th class="slds-text-title_caps" scope="col">
                  <div class="slds-truncate">Position Status</div>
                </th>
                <th class="slds-text-title_caps" scope="col">
                  <div class="slds-truncate">Open Date</div>
                </th>
                <th class="slds-text-title_caps" scope="col">
                  <div class="slds-truncate">Close Date</div>
                </th>
                <th class="slds-text-title_caps" scope="col">
                  <div class="slds-truncate">Max Pay</div>
                </th>
                <th class="slds-text-title_caps" scope="col">
                  <div class="slds-truncate">Min Pay</div>
                </th>
              </tr>
            </thead>
            <tbody>
              <template for:each={positionsByStatus.data} for:item="position">
                <tr class="slds-hint-parent" key={position.Id}>
                  <td>
                    <div class="slds-truncate" key={position.Id}>
                      {position.Name}
                    </div>
                  </td>
                  <td>
                    <div class="slds-truncate" key={position.Id}>
                      {position.Status__c}
                    </div>
                  </td>
                  <td>
                    <div class="slds-truncate" key={position.Id}>
                      {position.Begin_Date__c}
                    </div>
                  </td>
                  <td>
                    <div class="slds-truncate" key={position.Id}>
                      {position.Deadline__c}
                    </div>
                  </td>
                  <td>
                    <div class="slds-truncate" key={position.Id}>
                      {position.Salary_Max__c}
                    </div>
                  </td>
                  <td>
                    <div class="slds-truncate" key={position.Id}>
                      {position.Salary_Min__c}
                    </div>
                  </td>
                </tr>
              </template>
            </tbody>
          </table>
        </template>
      </lightning-layout>
      <div style="text-align:center;">
        <c-pagination-navigation onprevious={handlePrevious} onnext={handleNext}></c-pagination-navigation>
      </div>
      <div>
        <p class="slds-m-vertical_medium content">Total records: <b>{totalrecords} </b> Page <b>{page}</b>
          <b> of </b>
          <b> {totalPages}</b>
        </p>
      </div>
    </lightning-card>
  </div>
</template>