<template>
  <lightning-button variant="brand" label="Previous" icon-name="utility:chevronleft" title="Base action"
    onclick={handlePrevious} class="slds-m-left_x-small"></lightning-button>
  <span class="slds-p-horizontal_x-small">
    <a onclick={hadleClickPage} name="1">1</a>
  </span>
  <template for:each={pageList} for:item="item">
    <span key={item.Id} class="slds-p-horizontal_x-small">
      <a name={item} onclick={hadleClickPage}>{item}</a>
    </span>
  </template>
  <span class="slds-p-horizontal_x-small">
    <a onclick={hadleClickPage} name={totalPages}>{totalPages}</a>
  </span>
  <lightning-button variant="brand" label="Next" icon-name="utility:chevronright" title="Base action"
    onclick={handleNext} class="slds-m-left_x-small"></lightning-button>
</template>